<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-card">
    <h2>Welcome to D-Infinity</h2>
    
    <div class="form-group">
      <label>Email:</label>
      <input type="email" formControlName="email" placeholder="Enter your email">
    </div>

    <div class="form-group">
      <label>Password:</label>
      <input type="password" formControlName="senha" placeholder="Enter your password">
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>

    <div class="footer-links">
      <span>Don't have an account?</span>
      <a routerLink="/register">Create an account here</a>
    </div>
  </form>
</div>