<div class="systems-page">
  <app-header></app-header>
  <div class="systems-container">

    <div class="list-header-flex">
      <div class="title-text">
        <h2>Game Items</h2>
        <p>Manage equipment, weapons, and artifacts for your RPG.</p>
      </div>
    </div>

    <section class="form-section" id="itemFormSection">
      <div class="section-header">
        <h2>{{ isEditing ? 'Edit Item' : 'Create New Item' }}</h2>
      </div>

      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="create-form">
        <div class="full-field">
          <label>Item Name</label>
          <input type="text" formControlName="name" placeholder="Ex: Steel Longsword">
        </div>

        <app-field-builder [initialFields]="currentFields" (onSchemaChange)="updateSchema($event)">
        </app-field-builder>

        <div class="full-field" style="margin-top: 1.5rem;">
          <label>Description</label>
          <input type="text" formControlName="description" placeholder="Brief history or item effects...">
        </div>

        <div class="form-actions">
          @if (isEditing) {
          <button type="button" class="btn-secondary" (click)="resetForm()">
            Cancel
          </button>
          }

          <button type="submit" class="btn-save" [disabled]="itemForm.invalid">
            {{ isEditing ? 'Save Changes' : 'Add Item' }}
          </button>
        </div>
      </form>
    </section>

    <div class="systems-grid">
      @for (item of items(); track item.id) {
      <div class="system-card">
        <div>
          <div class="card-header-flex">
            <h3>{{ item.name }}</h3>

          </div>

          <p style="color: #aaa; font-size: 0.9rem; margin-bottom: 1rem;">
            {{ item.description || 'No description provided.' }}
          </p>
        </div>

        <div class="stats-mini">
        @if (item.damage && item.damage !== "") { ... }
        </div>
        <div class="card-actions">
          <app-edit-button (onClick)="onEdit(item)"></app-edit-button>
          <app-delete-button (onClick)="onDelete(item)"></app-delete-button>
        </div>
      </div>
      } @empty {
      <p style="color: #666; text-align: center; grid-column: 1 / -1;">
        No items created yet.
      </p>
      }
    </div>

  </div>
</div>