.setup-page-container {
  background-color: #121212; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-top: 2rem;

  .form-container {
    width: 100%;
    max-width: 600px;
    background-color: #1e1e1e;
    padding: 2.5rem;
    border-radius: 12px;
    border: 1px solid #333;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

    h2 {
      color: #fff;
      font-size: 1.8rem;
      margin-bottom: 2rem;
      text-align: center;
      font-weight: 600;
    }


    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      
      label { color: #aaa; margin-bottom: 0.5rem; }
      
      input, select, textarea {
        background-color: #121212; 
        border: 1px solid #444;
        color: #fff;
        padding: 0.8rem;
        border-radius: 6px;

        &:focus { border-color: #007bff; outline: none; }
      }
    }

    .actions .btn-primary {
      width: 100%;
      padding: 1rem;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;

      &:disabled { opacity: 0.5; cursor: not-allowed; }
    }
  }
}