<div class="header-ghost-spacer"></div>

<header class="floating-header">
  <nav class="nav-container">
    <a routerLink="/home" routerLinkActive="active" class="nav-item">
      <i class="icon-home"></i>
      <span>Home</span>
    </a>
    
    <a routerLink="/campaigns" routerLinkActive="active" class="nav-item">
      <div class="d20-icon"><span class="dice-text">20</span></div>
      <span>Campaigns</span>
    </a>

    <a routerLink="/profile" routerLinkActive="active" class="nav-item">
      <div class="profile-placeholder"><i class="icon-user"></i></div>
      <span>My Profile</span>
    </a>
  </nav>
</header>